<nav class="navbar">
  <div class="navbar-brand">
    <a href="/products" class="navbar-logo">CRTX Store</a>
  </div>
  <div class="navbar-links">
    <a href="/products" class="nav-link active">Productos</a>
    <a href="#" class="nav-link disabled">Chat</a>
  </div>
</nav>
